ev3_workspace.code-workspace
pyproject.toml
setup.cfg
__pycache__/brick.cpython-39.pyc
__pycache__/comm.cpython-39.pyc
__pycache__/io.cpython-39.pyc
src/pyev3/__pycache__/__init__.cpython-39.pyc
src/pyev3/__pycache__/devices.cpython-39.pyc
tests/testmotor.py
tests/testmotors.py
__init__.py
